.poster {
    height: 200px; 
    width: 150px;
    display: inline;
}

body{
    background-color:  #dddddd;
}

h1{
    font-size: 40px;
    color: #4b96c3;
}

thead{
    font-size: 24px;
    text-decoration: underline;
}

tbody{
    font-size: 18px;

}